{{!< main}}

<div class="container">
	<h2>Images</h2>

	{{#images}}
	<div class="row">
		<div class="col-md-4">
			<h2>{{title}}</h2>
			<img src="/image/get/{{id}}" />
		</div>
	</div>
	{{/images}}
</div>
