{{!< main}}

	<div class="jumbotron">
		<div class="container">
			<h1>Imageboard</h1>
			<p>{{ message }}</p>
		</div>
	</div>

	<div class="container">

	{{#articles}}
	<div class="row">
		<div class="col-md-4">
			<h2>{{title}}</h2>
			<p>{{content}}</p>
		</div>
	</div>
	{{/articles}}

	</div>
